* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container {
    padding: 1em;
}

h1, h2, h3, h4, h5, h6, p, label {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

#library {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1em;
}

.card {
    box-shadow: 5px 5px 12px -10px black;
    border-radius: 16px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;

    padding: 0.5em;
    height: 350px;
}

.logo {
    /* border-radius-: ; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    border-bottom-right-radius: 50%;
    width: 100%;

    flex: 1 0 auto;
}

.content {

    & > p {
        margin-top: 0.25rem;
    }

    & h2 { /* Title */
        font-size: (0.25rem, 100%, 2rem);
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 25ch; */
    }

    & p:nth-of-type(1) { /* author */
        color: gray;
    }

    & p:nth-of-type(2) { /* no. of pages */
        color: gray;
    }

    & p:nth-of-type(3) { /* has been read */
        margin-top: 1rem;
        font-size: 1rem;
        color: #333;
    }
}

.actions {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 0.25em;
}

button.action[type=button] {
    border: 0;
    /* background-color: red; */
    background: none;
    display: flex;
    align-items: center;

    & span:nth-of-type(1) { /* The icon */
        border-radius: 100%;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 3px;
        opacity: 1;
        rotate: 0deg;
        transition: all 0.25s;
    }

    & span:nth-of-type(2) { /* The text */
        margin-left: 0.5em;
        font-weight: bold;
    }
}

button.action {
    & span:nth-of-type(1):hover {
        cursor:pointer;
        opacity: 0.8;
        rotate: 15deg;
    }
}

button.btn {
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background-color: dodgerblue;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 1em;
    border-radius: 36px;
    transform: scale(1);
    transition: all 250ms;
    transition-timing-function: ease-in;
}

button.btn:hover {
    cursor: pointer;
    transform: scale(0.95);
}

/* --- Modal and Form --- */
dialog {
    position: absolute;
    /* top: 50%; */
    margin: auto auto;
    z-index: 1;
    border: 0;
    box-shadow: 3px 3px 8px -6px black;
    border-radius: 16px;
    padding: 1em;
    width: 40vw;

    & #header { /* Contains title and close button */
        display: flex;
        justify-content: space-between;
    }

    & button#close-modal {
        border: 0;
        background: none;
        color: black;
    }

    & button#close-modal:hover {
        cursor: pointer;
    }

    
}

form {
    display: flex;
    flex-direction: column;

    & > div {
        margin-top: 1rem;
    }

    & label, input[type=text], input[type=number]  {
        display: block;
    }

    & label {
        color: #333;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    & input[type=text], input[type=number] {
        width: 100%;
        border-radius: 4px;
        padding: 0.15rem;
        border: 2px solid gainsboro;
    }

    & #actions {
        margin-bottom: 1rem;
    }

    & #actions > :not(:first-child) {
        display: inline;
    }

    & #actions input[type=radio] {
        margin-inline: 0.5rem;
    }

    & #actions > input[type=radio]:checked {
        accent-color: dodgerblue;
    }

    & button[type=submit] {
        width: fit-content;
        margin: 0 auto;
    }
}

/* Background gradients from 
    https://cssgradient.io/gradient-backgrounds/
    https://cssgradient.io/swatches/
*/ 
.bg-purple {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.bg-blue {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.bg-green {
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.bg-kale {
    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.bg-desert {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}