* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#library {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1em;
}

.card {
    /* box-shadow: 3px 3px 3px -3px black; */
    border-radius: 16px;
    border: 2px solid gainsboro;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;

    padding: 0.25em;
    height: 350px;

    position: relative;

    & h2 {
        font-size: 1.25rem;
    }
}

.logo {
    /* border-radius-: ; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    border-bottom-right-radius: 50%;
    width: 100%;

    flex: 2;
    justify-self: end;
}

.content {
    flex: 1;
}

.actions {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 0.25em;
}

button[type=button] {
    border: 0;
    background: none;
    padding: 8px;

    & span {
        border-radius: 100%;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 3px;
        opacity: 1;
        rotate: 0deg;
        transition: all 0.25s;
    }
}

button[type=button]:hover {
    cursor:pointer;

    & span {
        opacity: 0.8;
        rotate: 15deg;

    }
}

/* Background gradients from 
    https://cssgradient.io/gradient-backgrounds/
    https://cssgradient.io/swatches/
*/ 
.bg-purple {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.bg-blue {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.bg-green {
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}
.bg-kale {
    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.bg-desert {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}